/* Class selectors */
/* .title {
    color: crimson;
} */

/* ID Selectors

#main_caption {
    color: red;
}

h2 {
    color: purple !important;
}

.blue_title {
    color: blue;
}

#blue_title{
    color: blue;
} */

/* .text {
    font-size: 20px;
    text-align: center;
    color: blueviolet;
}

.description {
    font-size: 20px;
    text-align: center;
    color: yellowgreen;
}


.text_center{
    font-size: 25px;
    text-align: end;
    color: teal;
}

.span {
    color: firebrick;
    background-color: gold;
}
.span1 {
    color: crimson;
    background-color: black;
} */